.pointer{
    cursor:  pointer !important;
}

.products {
    min-height: calc(100vh - 80px);
    position: relative;
    margin-top: 35px;
}

.nav{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, );
    -moz-transform: translate(-50%, );
    -ms-transform: translate(-50%, );
    -o-transform: translate(-50%, );
}

.product{
    position: relative;
}

.img{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discountImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    transform: translate(-20%, -50%);
    -webkit-transform: translate(-20%, -30%);
    -moz-transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    -o-transform: translate(-20%, -50%);
}

.select{
    width: 60px !important;
}