.container{
    position: relative;
}
.swiper{
    padding: 40px;
}
.swiper-slide img{
    height: auto;
}
.swiper-pagination{
    bottom: 0 !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--bs-green);
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px;
    color: white;
    position: absolute;
}
.swiper-button-prev, .swiper-button-next{
    background-color: var(--bs-green);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%
}
.category{
    text-align: center;
}
/* .categories{
    min-height: calc(100vh - 50px);
} */